# Python
__pycache__/
*.pyc
*.pyo
*.env
*.pdf
*.exe

# Pipenv
.venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Generated outputs
pc/data/output/*.tsv

# Local CLI binaries
tools/spiritplanner*
tools/*.exe

# Builds
build/

# PyInstaller
dist/
*.spec

# Logs
logs/

# Firebase Admin SDK service account (no commitear)
app/assets/secrets/service_account.json
